@model DatabaseProject.Models.Item
@{
	ViewData["Title"] = "Create";

}



<h3>Create a book</h3>

<form asp-action="Create" method="post">
	<div class="form-group">
		<label for="Name">Name</label>
		<input type="text" class="form-control" asp-for="Name" />
		<label for="Author">Author</label>
		<input type="text" class="form-control" asp-for="Author" />
		<label for="Available">Available</label>
		<input type="text" class="form-control" asp-for="Available" />
	</div>
	<button type="submit" class="btn btn-primary">Submit</button>
</form>